<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635548055935-9v3m1gkfmnfumu38pp27rpjt2n4nnfbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635548055935-9v3m1gkfmnfumu38pp27rpjt2n4nnfbe</string>
	<key>API_KEY</key>
	<string>AIzaSyBnYdC3zi3c9LkLpA2sppODqlFkbfeOSRE</string>
	<key>GCM_SENDER_ID</key>
	<string>635548055935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shakuriel</string>
	<key>PROJECT_ID</key>
	<string>grocr-8ef37</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-8ef37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635548055935:ios:9a7ef343187dbd9d</string>
	<key>DATABASE_URL</key>
	<string>https://grocr-8ef37.firebaseio.com</string>
</dict>
</plist>